@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./normalise.css');

@font-face {
    font-family: 'Jaden';
    src: url('../static/fonts/Jaden.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Jaden', sans-serif;
}

html {
    scroll-behavior: smooth;
}